* {
   margin: 0;
   border: 0;
   padding: 0;
}

body {
   overflow: hidden;
}

#editor {
   position: absolute;

   left: 50%;
   transform: translate(-50%);

   width: auto;
   height: 100vh;

   image-rendering: pixelated;
   background: grey;
}